.nav {
    width: 100vw;
    min-height: 12vh;
    border: 1px solid black;
    box-shadow: 2px 4px 9px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 45, 66);
}

.nav > a {
    margin: 10px;
    padding: 5px;
    font-size: larger;
    border: 2px solid rgb(57, 67, 141);
    border-radius: 5px;
    transition: 0.433s;
    background-color: rgb(58, 63, 102);
    color: rgb(141 77 223);
    text-decoration: none;
}

.nav > a:hover {
    margin: 10px;
    padding: 5px;
    font-size: larger;
    border: 2px solid rgb(101, 108, 156);
    border-radius: 5px;
    background-color: rgb(101, 108, 156);
    cursor: pointer;
    color: rgb(191, 151, 243);
    text-decoration: none;
}